<div class="row">
  <div class="span12 hidden-desktop">
    <nav class="filter-dropdown">
      <select id="distance">
        <option value="walking" <%= 'selected="selected"' if params["distance"] == "walking" %>>Within walking distance</option>
        <option value="taxi" <%= 'selected="selected"' if params["distance"] == "taxi" %>>Within taxi distance</option>
        <option value="all" <%= 'selected="selected"' if (params["distance"] == "all" || params["distance"].blank?) %>>Any distance from Shopify</option>
      </select>
    </nav>
  </div>
</div>

<div class="row">
  <div class="span12 hidden-desktop">
    <nav class="filter-dropdown">
      <select id="tag">
        <option value="">Filter by taste</option>
        <% @tags.reject {|tag| Place::RESERVED_TAGS.include?(tag.name) }.each do |tag| %>
          <option value="<%= tag.name %>" <%= 'selected="selected"' if params["tag"] == tag.name %>><%= tag.name.capitalize %></option>  
        <% end %>
      </select>
    </nav>
  </div>
</div>

<script type="text/javascript">
  $("select#distance")
    .change(function() {
      $("select#distance option:selected").each(function() {
        var distanceMode = $(this).val();
        window.location.href = updateQueryString('distance', distanceMode, window.location.toString());
      });
    });

  $("select#tag")
    .change(function() {
      $("select#tag option:selected").each(function() {
        var tagMode = $(this).val();
        console.log(tagMode);
        window.location.href = updateQueryString('tag', tagMode, window.location.toString());
      });
    });
</script>