<div class="span3 visible-desktop">
  <nav class="filter-sidebar">
    <ul class="nav nav-list"> 
      <li class="nav-header">Distance from Shopify</li>
      <ul class="nav nav-list">
        <li><%= link_to "All", places_path(tag: params[:tag], category: params[:category]) %></li>
        <li><%= link_to "Walking distance", places_path(distance: "walking", tag: params[:tag], category: params[:category]) %></li>
        <li><%= link_to "Taxi ride", places_path(distance: "taxi", tag: params[:tag], category: params[:category]) %></li>
      </ul>
      <li class="nav-header">Filter by taste</li>
      <ul class="nav nav-list">
        <li><%= link_to "All", places_path(distance: params[:distance], category: params[:category]) %></li>
        <% tag_cloud(@tags, []) do |tag, css_class| %>
          <li>
            <% unless Place::RESERVED_TAGS.include?(tag.name) %>
              <%= link_to tag.name.humanize, places_path(tag: tag.name, distance: params[:distance], category: params[:category]) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </ul>
  </nav>
</div>