<%= render partial: "filter_mobile" %>

<div class="row">
  <%= render partial: "filter_desktop" %>

  <div class="span9">
    <div id="content-eat" class="content">
      <ol tint>
      <% @places.each do |place| %>
        <li>
          <div>
            <span class="place-name"><%= link_to place.name, place %></span>
            <% if place.walking_time_in_minutes %>
              <span class="place-minutes pull-right"><%= place.walking_time_in_minutes %> minutes away</span>
            <% end %>
          </div>
          <div>
            <% if place.phone_number %>
              <span class="place-phone"><%= place.phone_number %></span>
            <% end %>
            <% if place.address %>
              <span class="place-address"><%= place.address %></span>
            <% end %>
          </div>
        </li>
      <% end %>
      </ol>
    </div>
  </div>
</div>
