<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @place.url %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @place.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Walking time in minutes:</strong>
  <%= @place.walking_time_in_minutes %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
