<%= render partial: "filter_mobile" %>

<div class="row">
  <%= render partial: "filter_desktop" %>

  <div class="span8">
    <div id="place-info">
      <div class="pull-right">
        <%= link_to 'Back', places_path %>
      </div>

      <h3 id="place-name">
        <%= link_to @place.name, @place.url %>
      </h3>

      <ul class="unstyled">
        <li><%= @place.phone_number %></li>
        <li><%= @place.address %></li>
        <li><%= @place.walking_time_in_minutes %></li>
        <li><%= @place.tag_list %></li>
      </ul>
    </div>
  </div>
</div>
