<!DOCTYPE html>
<html>
<head>
  <title>Forage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,700,400italic,700italic,900italic,900|Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" data-yield="main">
    <div id="header" class="row">
      <div class="span12">
        <div class="pull-right">
          <% if current_user %>
            <%= current_user.name %>
            <%= link_to "Logout", logout_path, method: :delete %>
          <% else %>
            <%= link_to "Login as Shopify", login_path %>
          <% end %>
        </div>
        <h1 id="app-logo" class="hide-text">Forage</h1>
        <h2 id="app-tagline">Never be lost again.</h2>
      </div>

      <div class="span6 offset3">
        <nav class="filter-action">
          <ul class="nav nav-pills">
          <li class="nav-item active"><%= link_to "Eat it", places_path(tag: params[:tag], distance: params[:distance], category: "eat it") %></li>
          <li class="nav-item"><%= link_to "Drink it", places_path(tag: params[:tag], distance: params[:distance], category: "drink it") %></li>
          <li class="nav-item"><%= link_to "Do it", places_path(tag: params[:tag], distance: params[:distance], category: "do it") %></li>
          </ul>
        </nav>
      </div>
    </div>

    <%= yield %>
  </div>

</body>
</html>
